<section id="team" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Our Team</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*">All</li>
                    <li data-filter=".coord">Coordinators</li>
                    <li data-filter=".mentor" class="filter-active">Mentors</li>
                    <li data-filter=".core2">Core Team 2nd Year</li>
                    <li data-filter=".core3">Senior Advisors</li>
                    <li data-filter=".maintainers">Maintainers</li>

                </ul>
            </div>
        </div>

        <div id="team_list" class="row portfolio-container">
        // coordis
            <div class="col-lg-4 col-md-6 portfolio-item coord">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/dipanshu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coordinator</h4>
                        <p>Vatsal Hariramani</p>
                    </div>

                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/evilgenius42/"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item coord">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/abhishek1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Co-Coordinator</h4>
                        <p>Yash Vardhan Sagar</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i
                                class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/yash_x_nikky/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/yash-vardhan-sagar-51b59022a"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            // mentor

            <div class="col-lg-4 col-md-6 portfolio-item mentor">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/arjun.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mentor</h4>
                        <p>Arjun Sahdev</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            
             // 2nd year 

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/priyam.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Bhuvan Narula</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i
                                class="icofont-facebook" target="_blank"></i></a>
                        <a href="https://www.instagram.com/bhuvan_narula/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/bhuvannarula/" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/tanmay.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Lakshay Wadhwani</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/divyam.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Vaibhav kesharwani</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/born_engineer73/"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/shubhanshu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Divyanshu verma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/nehal.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Mannat Mahajan</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/Mannat24___/"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/deepak.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Deepak Khatri</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/akash.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Yash sankhla</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/"yash_sankhla_08"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/pongthang.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Jyotishman Gogoi</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/profile.php?id=100074407611698"><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/jyotishmango/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jyotishman-gogoi-2809b4223/"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/prashant.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Shalu</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/chapranashalu/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/shaluchaprana"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/dhanush.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Paarth Dwivedi</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/ankityadav.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Ishmeet Kaur </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/ishm_7/"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/paras.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Aditya Ray Mishra </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/aditya.raymishra/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aditya-ray-mishra-b75675222"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/krati.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Aditya Ruhela </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/adiru.hela/"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/rohan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Aziz</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/sarthakmorj.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Raj Singh Bani </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/rajsinghbani/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/mwlite/in/raj-singh-bani-282707203"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/priyanshu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Aishal Gupta</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/profile.php?id=100075047212025"><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/aishalxguptaaa/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aishal-gupta-67624b226/"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/kratika.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Mahir Jain</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/mahirjain01/"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/mahir-jain-3504b222a/"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/harnaman.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>harnaman kaur</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/jhanvi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>janhavi shedge</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/priyanshusingh.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>priyanshu singh</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/dipesh.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>dipesh kumar gupta</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/raj.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>raj kumar sharma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/khyati.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>khyati agarwal</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/anjali.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>anjali deep</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/shrinivas.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>shrinivas khatavkar </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/chandan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>chandan prakash</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/dhananjay.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>dhananjay verma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item maintainers">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/rohan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Maintainer</h4>
                        <p>Rohan Raj</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item maintainers">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/priyam.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Maintainer</h4>
                        <p>Priyam Seth</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button type="button" id="dropdown_team" class="btn btn-outline-secondary btn-sm btn-rounded btn-block"><i class="bx bx-chevron-down icon-show"></i>
    </button> -->
    </div>
</section>
