<section id="team" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Our Team</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*">All</li>
                    <li data-filter=".coord">Coordinators</li>
                    <li data-filter=".mentor" class="filter-active">Mentors</li>
                    <li data-filter=".core2">Core Team 2nd Year</li>
                    <li data-filter=".core3">Senior Advisors</li>
                    <li data-filter=".maintainers">Maintainers</li>

                </ul>
            </div>
        </div>

        <div id="team_list" class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item coord">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/dipanshu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coordinator</h4>
                        <p>Dipanshu Verma</p>
                    </div>

                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/dipanshu231099"><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item coord">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/abhishek1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coordinator</h4>
                        <p>Abhishek Parmar</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/profile.php?id=100039542043898"><i
                                class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item coord">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/pritish.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coordinator</h4>
                        <p>Pritish Chugh</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/pritish.chugh.37"><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item mentor">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/arjun.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mentor</h4>
                        <p>Arjun Sahdev</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/priyam.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Priyam Seth</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/groups/236385070027939/user/100007709889947/"><i
                                class="icofont-facebook" target="_blank"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href="" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/tanmay.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Tanmay Mahendrakar</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/divyam.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Divyam Sharma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/shubhanshu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Shubhanshu Agrawal</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/nehal.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Nehal Reshu</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/deepak.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Deepak Khatri</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/akash.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Akash Karnatak</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/pongthang.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Pongthangamba Laishram</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/prashant.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Prashant Kumar</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/dhanush.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Dhanush Chavan</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/ankityadav.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>Ankit Yadav</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/paras.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>paras jain</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/krati.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>krati khinchi</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/rohan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>rohan raj kansal</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/sarthakmorj.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>sarthak morj</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/priyanshu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>priyanshu shubham</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/kratika.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>kratika gupta</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/harnaman.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>harnaman kaur</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/jhanvi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>janhavi shedge</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k20/priyanshusingh.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                        <p>priyanshu singh</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/dipesh.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>dipesh kumar gupta</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/raj.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>raj kumar sharma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/khyati.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>khyati agarwal</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/anjali.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>anjali deep</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/shrinivas.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>shrinivas khatavkar </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/chandan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>chandan prakash</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item core3">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/dhananjay.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Senior advisor</h4>
                        <p>dhananjay verma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item maintainers">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/rohan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Maintainer</h4>
                        <p>Rohan Raj</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item maintainers">
                <div class="portfolio-wrap">
                    <img src="assets/img/img/priyam.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Maintainer</h4>
                        <p>Priyam Seth</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button type="button" id="dropdown_team" class="btn btn-outline-secondary btn-sm btn-rounded btn-block"><i class="bx bx-chevron-down icon-show"></i>
    </button> -->
    </div>
</section>