<section id="team" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Our Team</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*">All</li>
                    <li data-filter=".coord">Coordinators</li>
                    <li data-filter=".mentor" class="filter-active">Mentors</li>
                    <li data-filter=".core2">Core Team 2nd Year</li>
                    <li data-filter=".core3">Senior Advisors</li>
                    <li data-filter=".maintainers">Maintainers</li>

                </ul>
            </div>
        </div>

        <div id="team_list" class="row portfolio-container">
       
        
            <div class="col-lg-4 col-md-6 portfolio-item coord">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k22/vatsal.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Coordinator</h4>
                       
                        <p>Vatsal Hariramani</p>
                    </div>

                    <div class="portfolio-links">
                      
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/evilgenius42/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>

                <div class="portfolio-wrap">
                    <img src="assets/img/2k22/yash v.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        
                        <h4>Co-Coordinator</h4>
                        <p>Yash Vardhan Sagar</p>
                    </div>
               
                    <div class="portfolio-links">
                      <a href=""><i
                                class="icofont-facebook" ></i></a>
                        <a href="https://www.instagram.com/yash_x_nikky/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/yash-vardhan-sagar-51b59022a" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

      

            <div class="col-lg-4 col-md-6 portfolio-item mentor">
                <div class="portfolio-wrap">
                       <img src="assets/img/2k22/suri.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mentor</h4>
                        <p>Surendra Singh</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://m.facebook.com/100009311004776/" target="_blank"><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/sur.i.rus/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/imsurendra" target="_blank"><i class="icofont-linkedin"></i></a>

                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item mentor">
                <div class="portfolio-wrap">
                       <img src="assets/img/2k22/anurag.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mentor</h4>
                        <p>Anurag Maurya</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="" ><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/anurag8058/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/anurag-maurya-617287215" target="_blank"><i class="icofont-linkedin"></i></a>

                    </div>
                </div>
            </div>

           

            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k22/bhuvan.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                    
                        <p>Bhuvan Narula</p>
                    </div>
                    <div class="portfolio-links">
                       
                        <a href=""><i
                                class="icofont-facebook" target="_blank"></i></a>
                 
                        <a href="https://www.instagram.com/bhuvan_narula/" target="_blank" ><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/bhuvannarula/" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

                    <img src="assets/img/2k22/lakshay w.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                  
                        <p>Lakshay Wadhwani</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                  
             
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href="" ><i class="icofont-linkedin"></i></a>
                </div>
            </div>
        </div>


                    <img src="assets/img/2k22/vaibhav.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                     
                        <p>Vaibhav kesharwani</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="https://www.facebook.com/vaibhav.kesharwani.79025" target="_blank"><i class="icofont-facebook"></i></a>
                       
                        <a href="https://www.instagram.com/born_engineer73/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>



                    <img src="assets/img/2k22/divyanshu.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                       
                        <p>Divyanshu verma</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="" ><i class="icofont-instagram"></i></a>
                        <a href="" ><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
    



                    <img src="assets/img/2k22/mannat.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                      
                        <p>Mannat Mahajan</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                      
                        <a href="https://www.instagram.com/Mannat24___/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>




                    <img src="assets/img/2k22/yash s.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                      
                        <p>Yash sankhla</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                    
                        <a href="https://www.instagram.com/"yash_sankhla_08" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>




                    <img src="assets/img/2k22/jyotish.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
 
                        <p>Jyotishman Gogoi</p>
                    </div>
                    <div class="portfolio-links">
                       \
                        <a href="https://www.facebook.com/profile.php?id=100074407611698" target="_blank"><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/jyotishmango/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jyotishman-gogoi-2809b4223/" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



                    <img src="assets/img/2k22/shalu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Junior</h4>
                      
                        <p>Shalu</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                    
                        <a href="https://www.instagram.com/chapranashalu/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/shaluchaprana" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>




                    <img src="assets/img/2k22/paarth.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                       
                        <p>Paarth Dwivedi</p>
                        <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="" ><i class="icofont-instagram"></i></a>
                        <a href="" ><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
    
                  


        




                        
                    <img src="assets/img/2k22/ishmeet.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                  
                        <p>Ishmeet Kaur </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                       
                        <a href="https://www.instagram.com/ishm_7/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>




                    <img src="assets/img/2k22/ARM.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                 
                        <p>Aditya Ray Mishra </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                       
                        <a href="https://www.instagram.com/aditya.raymishra/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aditya-ray-mishra-b75675222" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>


                    <img src="assets/img/2k22/ruhela.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                    
                        <p>Aditya Ruhela </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                    
                        <a href="https://www.instagram.com/adiru.hela/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>



                    <img src="assets/img/2k22/aziz.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
     
                        <p>Aziz</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href="" target="_blank" ><i class="icofont-instagram"></i></a>
                        <a href="" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



                    <img src="assets/img/2k22/raj.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                     
                        <p>Raj Singh Bani </p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                       
                        <a href="https://www.instagram.com/rajsinghbani/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/mwlite/in/raj-singh-bani-282707203" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>



                    <img src="assets/img/2k22/aishal.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                    
                        <p>Aishal Gupta</p>
                    </div>
                    <div class="portfolio-links">
                   
                        <a href="https://www.facebook.com/profile.php?id=100075047212025" target="_blank"><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/aishalxguptaaa/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aishal-gupta-67624b226/" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>


            
            <div class="col-lg-4 col-md-6 portfolio-item core2">
                <div class="portfolio-wrap">
                    <img src="assets/img/2k22/mahir.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sophomore</h4>
                      
                        <p>Mahir Jain</p>
                    </div>
                    <div class="portfolio-links">
                        <a href=""><i class="icofont-facebook"></i></a>
                      
                        <a href="https://www.instagram.com/mahirjain01/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/mahir-jain-3504b222a/" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
     
        <!-- <button type="button" id="dropdown_team" class="btn btn-outline-secondary btn-sm btn-rounded btn-block"><i class="bx bx-chevron-down icon-show"></i>
    </button> -->
    </div>
</section>
</section>
