
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Robotronics Club <br>IIT MANDI</h3>

          </div>

          <div class="col-lg-2 col-md-6 footer-links">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">

          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <img src="assets/img/logo.png" style="position: relative;max-width: 100%;" alt="">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Made with ❤️ by <strong><span>Robotronics Club, IIT MANDI</span></strong>.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootstrap-3-one-page-template-free-shuffle/ -->
        Designed by Dipanshu, Nidhi, Pratyush, Rohan and Priyam
      </div>
    </div>
  </footer><!-- End Footer -->